$PRIMARY_COLOR: #353535;
$SECONDARY_COLOR: #cc9100;
$PRIMARY_TEXT_COLOR: #f2f2f2;


$FONT_SIZE: (
  "small": 10px,
  "medium": 16px,
  "big": 24px,
  "huge": (
    "type_1": 36px,
    "type_2": 48px,
    "type_3": 100px,
  )
)