@use "../helpers";
@use "../theme" as *;

.heading-2 {
  @include helpers.use-font("HEADING_2");
}

.heading-1 {
  @include helpers.use-font("HEADING_1");
}

.body-2 {
  @include helpers.use-font("BODY_2");
}

.small-text {
  @include helpers.use-font("SMALL_TEXT");
  color: $MAIN_COLOR_PRIMARY_2;
}

.icon {
  color: $MAIN_COLOR_PRIMARY_3;
  &:hover path {
    color: $MAIN_COLOR_PRIMARY_3;
  }
}

.input {
  border: none;
  outline: none;
  border-radius: 3px;
  background: $NEUTRAL_COLOR_LIGHT_GREY;
  @include helpers.use-font("SMALL_TEXT", $weight: 400);
  padding: 16px;
}

.checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid $MAIN_COLOR_PRIMARY_2;
}

.textarea {
  @extend .input;
  resize: none;
}

.button {
  padding: 6px 24px;
  max-width: 200px;
  background: $MAIN_COLOR_PRIMARY_2;
  outline: none;
  border: none;
  color: $NEUTRAL_COLOR_WHITE;
  border-radius: 3px;
  word-wrap: break-word;
  transition: .2s background;
  @include helpers.use-font("BODY_1");

  &:hover {
    cursor: pointer;
    background: #2B2B2B;
    transition: .2s background;
  }
}

.list {
  @include helpers.use-flex($gap: 24px, $jusCon: flex-start);
}