@use "variables" as *;
@use "sass:map";

@mixin adaptive($size) {
  @media screen and (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}

@mixin use-flex($jusCon: center, $alIt: center, $dir: row, $gap: 0, $break: 0) {
  display: flex;
  justify-content: $jusCon;
  align-items: $alIt;
  flex-direction: $dir;
  gap: $gap;

  @if $break != 0 {
    @include adaptive($break) {
      @content;
    };
  }
}

@mixin use-font($type, $weight: default) {
  font-family: 'Roboto Mono', monospace;
  @if $type == "HEADING_1" {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
  }

  @if $type == "HEADING_2" {
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
  }

  @if $type == "BODY_1" {
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
  }

  @if $type == "BODY_2" {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }

  @if $type == "SMALL_TEXT" {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }

  @if $weight != default {
    font-weight: $weight;
  }
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fade($type) {
  @if $type ==  "hide" {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  } @else if $type== "show" {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
  }
}


@mixin use-adaptive-padding($value1, $value2, $value3) {
  @include adaptive("tiny") {
    padding: $value1;
  }
}

@mixin padding-connect($breakpoint) {
  @include adaptive($breakpoint) {
    // margin-left: -1 * map.get($SIDE_PADDINGS, $breakpoint);
    // margin-right: -1 * map.get($SIDE_PADDINGS, $breakpoint);
    padding-left: map.get($SIDE_PADDINGS, $breakpoint);
    padding-right: map.get($SIDE_PADDINGS, $breakpoint);
  }
}

@mixin main-padding-connect {
  @include padding-connect("tiny");
  @include padding-connect("small");
  @include padding-connect("tablet");
  @include padding-connect("pred_medium");

  @include adaptive("pred_medium") {
    // max-width: 900px;
    width: 900px;
    place-self: center;
  }

  @include adaptive("medium") {
    width: 100%;
    padding: 0;
  }
}