$breakpoints: (
  "tiny": 200px,
  "small": 420px,
  "tablet": 720px,
  "pred_medium": 1024px,
  "medium": 1280px,
  "big": 1440px,
  "biggest": 1920px,
);

$LOGO_SIZE: 288px;
$LOGO_HEIGHT: 225px;

$SIDE_PADDINGS: (
  "tiny": 17px,
  "small": 17px,
  "tablet": 25px,
  "pred_medium": 50px,
  "medium": 162px,
  "big": 25px,
);

$AVATAR_SIZE: 70px;
$COMMENT_COLUMN_GAP: 24px;