$breakpoints: (
  "tiny": 320px,
  "small": 420px,
  "tablet": 720px,
  "big": 1440px
);

$LOGO_SIZE: 150px;

$SIDE_PADDINGS: (
  "tiny": 17px,
  "small": 17px,
  "tablet": 25px,
  "big": 25px,
);

$AVATAR_SIZE: 70px;
$COMMENT_COLUMN_GAP: 24px;