$MAIN_COLOR_PRIMARY_1: #000000;
$MAIN_COLOR_PRIMARY_2: #474747;
$MAIN_COLOR_PRIMARY_3: #FFBA9D;

$NEUTRAL_COLOR_DARK_GREY: #777777;
$NEUTRAL_COLOR_GREY: #DFDFDF;
$NEUTRAL_COLOR_LIGHT_GREY: #F4F4F4;
$NEUTRAL_COLOR_WHITE: #FFFFFF;