@use "../theme" as *;
@use "../helpers";

.comments {
  clear: both;

  margin-top: 48px;
  color: $MAIN_COLOR_PRIMARY_2;

  @media print {
    // display: none;
    & > :not(.comments__list) {
      display: none;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
    row-gap: 24px;

    @include helpers.adaptive("tablet") {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 23px;
    }

    &__save {
      @include helpers.adaptive("tablet") {
        grid-column: 1 / span 3;
      }
    }

    &__message {
      @include helpers.adaptive("tablet") {
        grid-column: 1 / span 3;
      }
    }

    &__button {
      @include helpers.adaptive("tablet") {
        grid-column: 1 / span 3;
      }
    }
  }

  &__title {
    margin-bottom: 12px;
  }

  &__list {
    @include helpers.use-flex($gap: 24px, $alIt: flex-start, $dir: column);

    @media print {
      display: block;
      position: relative;
      & > :not(:last-child) {
        padding-bottom: 24px;
      }
    }
  }

  .comment {
    &:not(:first-of-type) {
      padding-top: 24px;
      border-top: 1px solid $NEUTRAL_COLOR_GREY;
    }
  }
  
  .comment--lvl2 {
    &:not(:first-of-type) {
      padding-top: 0px;
      border-top: 0;
    }
  }
}