@use "../theme" as *;
@use "../helpers";

.comments {
  margin: 48px 0;
  color: $MAIN_COLOR_PRIMARY_2;

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
    row-gap: 24px;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__list {
    @include helpers.use-flex($gap: 24px, $alIt: flex-start, $dir: column);
  }

  .comment {
    &:not(:first-of-type) {
      padding-top: 24px;
      border-top: 1px solid $NEUTRAL_COLOR_GREY;
    }
  }
  
  .comment--lvl2 {
    &:not(:first-of-type) {
      padding-top: 0px;
      border-top: 0;
    }
  }
}