@use "sass:map";
@use "../theme";
@use "../helpers" as *;

.footer {
  background: theme.$NEUTRAL_COLOR_LIGHT_GREY;
  padding-top: 118px;
  padding-bottom: 48px;
  position: relative;
  display: grid;

  &__button {
    @include abs-center;
    top: -3px;
  }

  width: 100%;

  &__container {
    @include main-padding-connect;
    @include use-flex($dir: column, $gap: 42px, $alIt: flex-start, $break: "tablet") {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    };
  }
  // @include padding-connect("tablet");
}