@use "../helpers";
@use "../theme";
@use "sass:color";

@keyframes show_menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close_menu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header {
  @include helpers.main-padding-connect();
  @include helpers.use-flex(flex-start, flex-end, column, 67px);

  @include helpers.adaptive("medium") {
    gap: 0;
  }

  @media print {
    & > nav {
      display: none;
    }
  }

  &__logo {
    width: 100%;
    max-width: 288px;
  }

  &__navigation {
    width: 100%;

    @include helpers.use-flex($gap: 67px, $dir: column, $alIt: flex-end, $break: "small") {
      flex-direction: row-reverse;
      gap: 44px;
      align-items: center;
    };

    @include helpers.adaptive("tablet") {
      flex-direction: row;
    }

    @include helpers.adaptive("medium") {
      align-self: start;
    }
  }

  &__menu {
    list-style-type: none;
    flex-shrink: 0;
    transition: .2s background;

    & a {
      color: theme.$NEUTRAL_COLOR_DARK_GREY;
      transition: .2s color, .2s border-bottom;
      padding-bottom: 8px;
      border-bottom: 2px solid #FFF;
      transform: translateY(4px);
      &:hover {
        color: theme.$MAIN_COLOR_PRIMARY_2;
        transition: .2s color, .2s border-bottom;
        border-bottom: 2px solid color.change(theme.$NEUTRAL_COLOR_DARK_GREY, $lightness: 65%);
      }
    }

    &--mobile {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      flex-direction: column;
      background: theme.$NEUTRAL_COLOR_WHITE;
      z-index: 20;
      display: flex;
      animation: .2s show_menu;
    }

    &--removing {
      animation: .2s close_menu;
      animation-fill-mode: forwards;
    }

    @include helpers.use-flex($gap: 45px, $break: "tablet") {
      display: flex;
    };

    @include helpers.adaptive("medium") {
      gap: 25px;
    }

    @include helpers.adaptive("big") {
      gap: 45px;
    }

    display: none;

    & li {
      flex-shrink: 0;
    }
  }
}

